body {
    font-size: normal;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 1.6em;
}

h1 {
    font-size: 150%;
    text-align: center;
}

h2 {
    font-size: 130%;
    text-align: center;
}

#container {
    margin: 0 auto;
}

#happy {
    width: 1100px;
    margin: 0 auto;
}

#birthday {
    width: 1100px;
    margin: 0 auto;
}

video {
    display: block;
    margin: 0 auto;
}
